* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/* VARIABLES */

:root {
  --color: #fafafa;
  --color-dark: #1d1d1d;
}

.hidden {
  display: none;
}

.color__white {
  color: var(--color) !important;
}

/* BOOTSTRAP EDIT */

.container-lg {
  max-width: 1100px;
}

.justify-content-sm-around {
  display: flex;
  justify-content: space-around !important;
  flex-direction: column;
}
/* LINE */

.line {
  border: 0.5px solid rgba(255, 255, 255, 0.25);
}

/* HEADER */

header {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
}

#header__navbar {
  height: 124px;
  display: flex;
}

/* NAVBAR */

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark);
}

.navbar-left {
  margin-right: 180px;
}

.navbar-left .nav-item {
  padding: 0 9px;
}

.nav__item {
  padding: 0 15px;
}

.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-dark);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--color-dark);
}

.logo {
  cursor: pointer;
}

li:hover {
  border-bottom-color: var(--color-dark);
}
li {
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 50ms linear 0s;
}

/* Language */

.language a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  padding-left: 15px;
}

.disabled {
  border: none;
}

.disabled a {
  color: #a1a1a1 !important;
}

/* NAVBAR MOBILE */

.sm-navbar {
  display: none;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.sm-navbar-dark {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.sm-language {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sm-language li {
  padding-left: 10px;
}

.sm-navbar-button {
  background-color: transparent;
  border: none;
  width: 100%;
  top: 50%;
  height: 100%;
  text-align: end;
}

.sm-navbar-button i {
  display: none;
}

i.fa-solid.fa-xmark {
  color: var(--color);
}

.active {
  display: block !important;
}

.sm-navbar-collapse {
  background-color: #000000;
  width: 100%;
  height: calc(100vh - 72px);
  z-index: 99;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  position: absolute;
  transform: translateX(-100%);
}

.show {
  opacity: 1 !important;
  transform: translateX(0);
}

.sm-nav-item {
  margin-top: 20px;
  padding: 0 20px;
}

.sm-logo img,
.sm-logo-dark img {
  margin-top: 5px;
}

.sm-nav-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: var(--color);
}

.sm-language .nav-item,
.sm-nav-item {
  border-bottom: none;
}

.sm-nav-link:hover {
  color: var(--color);
}

.sm-conacts {
  position: absolute;
  bottom: 53px;
  width: 100%;
}

.sm-conacts__contact a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(250, 250, 250, 0.7);
}

.sm-conacts .conacts__box a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: rgba(250, 250, 250, 0.7);
}

.sm-conacts__contact i {
  color: var(--color);
}

.conacts__item,
.conacts__mail,
.conacts__phone,
.conacts__job {
  display: flex;
  color: rgba(29, 29, 29, 0.7);
}

.conacts__job {
  padding-bottom: 1rem;
}

/* MAIN */

.Breadcrumb {
  background: #1d1d1d;
  height: 40px;
  color: var(--color);
  text-align: center;
  padding: 10px;
}

.Breadcrumb p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

/* MAIN TITLE */

.main__title h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

/* CATEGORY BTN */

.category__btn {
  width: 248px;
  height: 59px;
  padding: 20px;
  background: #1d1d11;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color);
}

.category__btn:hover {
  color: var(--color);
}

.btn__product {
  width: 248px;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1d1d11;
  text-align: initial;
}

.btn__product:hover {
  background: rgba(29, 29, 17, 0.1);
}

/* CATEGORY CARD */

.card__product {
  width: 432px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f1f1f1;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.card__product:hover {
  box-shadow: 0px 5px 25px rgb(0 0 0 / 15%);
}

.card__product:nth-child(2) {
  width: 432px;
  height: 239px;
}

/* PRODUCT FEATURES */

.product_features p {
  margin: 0;
}

.product__name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: initial;
  border-left: 2px solid;
  padding-left: 10px;
  margin-top: 19px;
  margin-bottom: 0;
}

.product__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  margin: 12px 0;
}

.product__text {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.015em;
}

/* ICONS */

i {
  font-size: 21px;
  padding-right: 15px;
  color: #373737;
}

.conacts__contact i {
  font-size: 16px;
}

/* FOOTER */

footer {
  display: none;
  background-color: #e1e1e1;
  height: 40px;
  width: 100%;
  height: 100%;
}

.footer__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3d3f40;
  margin: 11px 0;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}

.footer__socials i:hover {
  color: red;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1199.98px) {
  .container {
    width: 1100px;
  }
}

/* MEDIA QUERIES */

@media (max-width: 575.98px) {
  .category {
    flex-direction: column;
    text-align: center;
  }

  .card__product {
    width: 343px;
    height: 282px;
  }

  .card__product:nth-child(2) {
    width: 343px;
    height: 190px;
  }

  .product__name {
    margin-top: 30px;
  }

  /* FOOTER */
  footer {
    display: block;
  }

  .footer__text {
    margin: 25px 0;
  }
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }
  .sm-navbar {
    display: flex;
  }
  #header__navbar {
    height: 72px;
    transition: all 0.3s ease-in-out;
  }
  #home {
    height: calc(100vh - 201px);
  }

  .category {
    display: flex;
  }

  footer {
    display: block;
  }
}

/*`xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .navbar-left {
    margin-right: 100px;
  }
}
